* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --font-family: "Poppins", sans-serif;
  --color-yellow: #d17842;
  --color-black: #0c0f14;
  --color-grey: #252a32;
  --color-light-grey: #52555a;
  --color-ultra-light-grey: #aeaeae;
  --color-white: #ffffff;
}

body {
  font-family: var(--font-family);
  color: var(--color-white);
  background: linear-gradient(to right, var(--color-black), var(--color-grey));
  text-align: center;
  margin: 0;
  overflow-x: hidden;
}

header nav {
  position: relative;
  padding: 10px 5%;
}

.logo video {
  width: 15%; 
  height: auto;
  float: left;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px var(--color-black);
}

a {
  color: var(--color-yellow);
  text-align: center;
}

nav a {
  color: var(--color-ultra-light-grey);
}

nav ul {
  list-style: none;
  position: absolute;
  margin: 2% 0 0 0;
  right: 5%;
}

nav ul li {
  font-size: 2vw;
  float: left;
  margin-left: 2vw;
}

h1,
h2,
h3,
h5,
h6 {
  color: var(--color-white);
}

h1 {
  font-size: 4vw;
  margin: 10vh 0 5vh;
  padding-top: 15%;
}

h2 {
  font-size: 3.2vw;
  margin-bottom: 2vh;
  margin-top: 10vh;
}

h3 {
  font-size: 3.2vw;
  margin-bottom: 5vh;
  margin-top: 1vh;
  padding-top: 20vh;
}

h5 {
  font-size: 2vw;
  margin: 0 0 0.5vh;
  color: var(--color-yellow);
}

h6 {
  font-size: 1.2vw;
  margin: 1vh 2.5vw;
  text-align: center;
  word-wrap: break-word;
  padding: 0 19vw 0 19vw;
}

h6:hover {
  font-size: 2vw;
  text-shadow: 10vh 10vh 10vh var(--color-grey);
  transform: matrix(1.1, 0, 0, 1.1, 0, 0);
  transition: all 1s ease-in-out;
  box-shadow: var(--color-grey);
  margin: 12vh 0;
}

.cover video {
  width: 100%;
  height: auto;
  border-radius: 5vw;
  box-shadow: 0 0 10px 2px var(--color-grey);
  overflow: hidden;
  margin-bottom: 0.5vh;
}

aside {
  width: 40%;
  float: left;
  transform: rotate(-15deg);
  background: linear-gradient(to right, var(--color-black), var(--color-grey));
  border-radius: 400vw;
  box-shadow: 0 0 10px var(--color-yellow);
  margin: 5vh 0 0 15vw;
}

aside img {
  width: 30%;
  height: auto;
  border-radius: 1vw;
  overflow: hidden;
  margin-bottom: 1vh;
}

.cards {
  padding: 0 10%;
  overflow: hidden;
  margin-bottom: 20vh;
}

.card {
  width: 45%;
  margin-bottom: 5vh;
  font-size: 2vw;
  cursor: pointer;
  float: left;
  transition: transform 0.7s;
}

.card img {
  width: 80%;
  height: auto;
  border-radius: 15px;
}

.card:hover {
  transform: scale(1.3);
}

.card-description {
  visibility: hidden;
  background-color: var(--color-black);
  font-size: 1vw;
  color: var(--color-white);
  padding: 1vw;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  transition: visibility 1s;
  margin-top: 5vh;
}

.card.active .card-description {
  visibility: visible;
}

table {
  width: 70%;
  border-collapse: collapse;
  margin: 5vh auto;
  font-size: 2vw;
}

th,
td {
  padding: 1vw;
}

th {
  background-color: var(--color-yellow);
  color: var(--color-black);
  text-align: center;
}

form {
  clear: both;
  margin-top: 2vh;
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 5vh;
  background-color: var(--color-black);
  padding: 5vw;
  border-radius: 1vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 2vw;
}

form::placeholder {
  font-size: 1.5vw;
}

label {
  margin-bottom: 5vh;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
  width: 100%;
  padding: 1vw;
  margin-bottom: 2vh;
  font-size: 2vw;
}

input[type="range"] {
  width: 100%;
  margin-top: 2%;
}

button {
  font-size: 2vw;
  background-color: var(--color-yellow);
  width: 20%;
  color: var(--color-black);
  padding: 1vw 1vw 1vw 1vw;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 3vh;
  margin-left: 5vw;
  text-align: center;
}

button:hover {
  background-color: var(--color-light-grey);
}

.logo-footer video {
  width: 15%; 
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px var(--color-light-grey);
}

.logo-footer video:hover {
  box-shadow: 0 0 10px 2px var(--color-yellow);
}

.visit {
  font-size: 5vh;
  color: var(--color-ultra-light-grey);
}

footer {
  background-color: var(--color-black);
  padding: 2vw 0;
  font-size: 100%;
  width: 100%;
  text-align: center;
}

/* Media Queries */
/* Telas maiores: desktop */
@media (min-width: 768px) {
  main {
    padding: 2vw;
  }

  h1 {
    font-size: 10vw;
    margin: 5vh 0 2vh;
  }

  h3 {
    font-size: 4vw;
    margin-bottom: 5vh;
    margin-top: 1vh;
    padding-top: 8vh;
  }

  nav a {
    color: var(--color-ultra-light-grey);
  }

  nav ul {
    right: 2vw;
  }

  .card {
    width: 30%;
    margin-right: 2%;
  }

  form {
    max-width: 50%;
  }

  input[type="range"] {
    width: 60%;
  }

  button {
    margin-left: 65%;
  }

  a {
    font-size: 2vw;
  }

  .logo-footer {
    width: 20%; 
  }

  .visit {
    font-size: 3vh;
  }

}

/* Telas menores: mobile */
@media (max-width: 767px) {
  main {
    padding: 1vw;
  }

  .logo video,
  .logo-footer video {
    width: 15%; 
    height: auto;
    float: left;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px var(--color-black);
  }

  nav ul {
    right: 1vw;
  }

  nav ul li {
    font-size: 4vw;
    float: left;
    margin-left: 2vw;
  }

  h1 {
    font-size: 5vw;
    margin: 1vh 0 2vh;
  }

  h2, h3 {
    font-size: 4vw;
    margin-bottom: 2vh;
    padding-top: 2vh;
  }

  h5 {
    font-size: 3vw;
    margin: 0 0 0.5vh;
    color: var(--color-yellow);
  }

  h6 {
    font-size: 2vw;
    margin: 1vh 2.5vw;
    text-align: center;
    word-wrap: break-word;
    padding: 0 19vw 0 19vw;
  }

  p {
    font-size: 1vw;
  }

  .cover video {
    width: 100%;
    height: auto;
    border-radius: 5vw;
    box-shadow: 0 0 10px 2px var(--color-grey);
    overflow: hidden;
    margin-bottom: 0.5vh;
  }

  aside img {
    width: 20%;
    height: auto;
    border-radius: 1vw;
    overflow: hidden;
  }

  .cards {
    padding: 0 5%;
    overflow: hidden;
    margin-bottom: 2vh;
  }

  .card {
    width: 30%;
    margin-right: 0;
    margin-left: 2vw;
  }

  form {
    max-width: 70%;
    padding: 5vw;
  }

  input[type="range"] {
    width: 100%;
  }

  button {
    margin-left: 0;
  }

  a {
    font-size: 2.5vw;
  }

  .logo-footer {
    width: 15%; 
  }

  .visit {
    font-size: 3vh;
  }
}
