@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");

:root {
  --cor-pai: #1f77b4;
  --cor-mae: #ff7f0e;
  --cor-filho: #2ca02c;
  --cor-filha: #d62728;
  --cor-primaria: black;
  --cor-secundaria: white;
  --cor-terciaria: #36ea0a;
  --cor-quaternaria: #434141;
  --cor-borda: #9b9b9b;
  --fonte: "Nanum Gothic Coding", monospace;
}

body {
  font-family: "Source Code Pro";
  margin: 0;
  padding: 0;
  background-color: var(--cor-quaternaria);
}

header {
  background-color: var(--cor-primaria);
  color: var(--cor-terciaria);
  text-align: center;
  padding: 1em 0;
}

section {
  max-width: 800px;
  margin: 20px auto;
  background-color: var(--cor-secundaria);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(22, 225, 11, 0.769);
}

h2 {
  color: var(--cor-terciaria);
}

.lista-compras {
  background-color: var(--cor-primaria);
}

.tg {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tg th,
.tg td {
  border: 1px solid var(--cor-borda);
  padding: 10px;
  text-align: left;
  vertical-align: center;
}

.tg th {
  background-color: var(--cor-borda);
  color: var(--cor-secundaria);
}

.lista-afazeres {
  background-color: var(--cor-primaria);
}

.color-pai {
  color: var(--cor-pai);
}

.color-mae {
  color: var(--cor-mae);
}

.color-filho {
  color: var(--cor-filho);
}

.color-filha {
  color: var(--cor-filha);
}
