footer {
    width: fit-content;
    padding-left: 47%;
    margin-top: 8%;
}

footer img {
    margin-left: 30%;
    margin-top: -0%;
    width: 40%;
    margin: 0;
}

footer p {
    font-size: 1rem;
    margin-left: -26%;
    margin-top: 10%;

}