@import url('sidenav-component.css');
@import url('all-styles.css');

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 5px;
  padding-left: 150px;
}

.imgnapoli {
  width: 250px;
  margin-top: 49px;
  margin-left: 0;
  margin-bottom: 2%;
}

.img1 {
  padding-right: 30px;
  width: 380px;
}

.img2 {
  width: 380px;
}

.h5-about {
  font-size: 35px;
  margin-left: 0;
  margin-top: 3%;
  margin-bottom: 3%;
}

.about-text {
  font-size: 27px;
  margin-left: 2px;
  margin-top: -50px;
  text-align: justify;
  padding-right: 60px;
}